.admin-home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .admin-movie-read {
        flex: 40%;
        margin: 10px;

        .read-container {
            max-width: unset;
            padding: 10px;

            .list-movies {
                max-height: 30vh;
            }
        }
    }
}