.admin-home-wrapper {
    display: flex;

    .admin-movie-read {
        width: 100%;

        &:nth-child(1) {
            margin-right: 0px;
        }

        .read-container {
            max-width: none;
        }
    }
}