.admin-create-movie {
    margin: 40px;

    .create-container {
        padding: 40px;
        background: #dde7fb;
        border-radius: 16px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
        color: #012970;
    }

    .form-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        span {
            font-size: 18px;
            width: 36%;
        }

        input,
        select {
            display: block;
            width: 80%;
            border: 1px solid black;
            border-radius: 4px;
            font-size: 16px;
            outline: none;
            padding: 10px;
            margin-left: 8px;
        }

        input[type="file"] {
            padding: 0;
        }

        input::-webkit-file-upload-button {
            padding: 10px;
            border: none;
            background: gray;
            color: white;
            border-right: 1px solid black;
            cursor: pointer;
        }
    }

    button {
        margin-top: 20px;
        font-size: 18px;
        padding: 8px 28px;
        background: #355b9e;
        color: white;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
}