.list-schedules-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    .item-card {
        flex: 25%;
        max-width: 25%;

        .item {
            margin: 10px;
            border: 1px solid #dedede;

            &.pay {
                height: 95%;
            }

            .row {
                display: flex;
                justify-content: space-between;
                margin: 16px;
                font-size: 14px;

                h5 {
                    text-transform: uppercase;
                }
            }

            .feature {
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                gap: 10px;

                .cart {
                    text-decoration: none;
                    color: #a88300;

                    &:hover {
                        color: black;
                        cursor: pointer;
                    }
                }

                button {
                    background: transparent;
                    border: none;
                    outline: none;

                    &:hover {
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .exist {
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        color: #cdc197;
        margin: 20vh 0;

        a {
            margin-left: 20px;
            color: black;

            &:hover {
                color: #cdc197;
            }
        }
    }
}